In [23]:
# 1. population.csv 파일을 DataFrame으로 읽고 내용 확인
# 2. 현재 연구자 거주지 동의 인구 정보 조회 ( 행전체 )
# 3. 총인구수가 가장 많은 동 조회
# 4. 남성인구비가 가장 높은 동 조회
# 5. ...
# 6. 현재 연구자 거주지 동의 연령별 인구를 막대그래프로 표시

In [24]:
import pandas as pd

In [25]:
population_df = pd.read_csv("data-files/population.csv", encoding="utf-8")

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15584\1717257733.py:1: DtypeWarning: Columns (100,101,103,198,199,200,305,306,307,309) have mixed types. Specify dtype option on import or set low_memory=False.
  population_df = pd.read_csv("data-files/population.csv", encoding="utf-8")

In [26]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3880 entries, 0 to 3879
Columns: 310 entries, 행정구역 to 2023년11월_여_100세 이상
dtypes: int64(8), object(302)
memory usage: 9.2+ MB

In [27]:
population_df.head()

,행정구역,2023년11월_계_총인구수,2023년11월_계_연령구간인구수,2023년11월_계_0세,2023년11월_계_1세,2023년11월_계_2세,2023년11월_계_3세,2023년11월_계_4세,2023년11월_계_5세,2023년11월_계_6세,...,2023년11월_여_91세,2023년11월_여_92세,2023년11월_여_93세,2023년11월_여_94세,2023년11월_여_95세,2023년11월_여_96세,2023년11월_여_97세,2023년11월_여_98세,2023년11월_여_99세,2023년11월_여_100세 이상
0,서울특별시 (1100000000),"9,390,925","9,390,925","37,876","41,294","43,322","43,749","47,776","50,756","55,314",...,"6,471","4,710","4,076","3,284","2,484","1,815","1,094",724,539,"1,123"
1,서울특별시 종로구 (1111000000),"139,497","139,497",393,469,464,495,539,561,663,...,111,94,85,53,57,43,24,12,11,27
2,서울특별시 종로구 청운효자동(1111051500),"11,359","11,359",40,46,41,51,54,44,74,...,11,11,5,4,7,1,2,0,2,2
3,서울특별시 종로구 사직동(1111053000),"9,005","9,005",26,25,43,36,41,49,55,...,6,9,9,9,3,2,1,3,0,3
4,서울특별시 종로구 삼청동(1111054000),"2,242","2,242",6,5,8,6,3,12,13,...,4,1,4,0,1,0,0,0,0,1

In [28]:
population_df.columns

Index(['행정구역', '2023년11월_계_총인구수', '2023년11월_계_연령구간인구수', '2023년11월_계_0세',
       '2023년11월_계_1세', '2023년11월_계_2세', '2023년11월_계_3세', '2023년11월_계_4세',
       '2023년11월_계_5세', '2023년11월_계_6세',
       ...
       '2023년11월_여_91세', '2023년11월_여_92세', '2023년11월_여_93세', '2023년11월_여_94세',
       '2023년11월_여_95세', '2023년11월_여_96세', '2023년11월_여_97세', '2023년11월_여_98세',
       '2023년11월_여_99세', '2023년11월_여_100세 이상'],
      dtype='object', length=310)

In [29]:
# 1번 문제
# mask = population_df["행정구역"].str.contains("동삭동")
mask = population_df["행정구역"].map(lambda v: "동삭동" in v)
print( mask.sum() )
population_df[mask]

1

,행정구역,2023년11월_계_총인구수,2023년11월_계_연령구간인구수,2023년11월_계_0세,2023년11월_계_1세,2023년11월_계_2세,2023년11월_계_3세,2023년11월_계_4세,2023년11월_계_5세,2023년11월_계_6세,...,2023년11월_여_91세,2023년11월_여_92세,2023년11월_여_93세,2023년11월_여_94세,2023년11월_여_95세,2023년11월_여_96세,2023년11월_여_97세,2023년11월_여_98세,2023년11월_여_99세,2023년11월_여_100세 이상
1497,경기도 평택시 동삭동(4122065000),"41,411","41,411",514,572,492,550,565,573,575,...,9,7,4,4,2,2,1,1,1,0

In [30]:
# 총인구수가 가장 많은 동 조회
# population_df["2023년11월_계_총인구수"]
# population_df[population_df.columns[1]]
# population_df.iloc[:, 1]
# population_df.iloc[:, 1].max() # 이상한 결과 값
population_df.iloc[:, 1].dtype # 원인은 자료형이 문자열이기 때문에 숫자 연산 불가

# int( population_df.iloc[1, 1].replace(",", "") ) # 변환 처리 내용
population_df.iloc[:, 1] = population_df.iloc[:, 1].map(lambda v: int(v.replace(",", "")))

13628135

In [32]:
max_population = population_df.iloc[:, 1].max() # 총인구수의 max 값
max_population_mask = population_df.iloc[:, 1] == max_population # max 값과 같은 행 filter
population_df[max_population_mask] # max 값과 같은 행만 뽑기 --> 결과는 경기도 인구 데이터 출력

,행정구역,2023년11월_계_총인구수,2023년11월_계_연령구간인구수,2023년11월_계_0세,2023년11월_계_1세,2023년11월_계_2세,2023년11월_계_3세,2023년11월_계_4세,2023년11월_계_5세,2023년11월_계_6세,...,2023년11월_여_91세,2023년11월_여_92세,2023년11월_여_93세,2023년11월_여_94세,2023년11월_여_95세,2023년11월_여_96세,2023년11월_여_97세,2023년11월_여_98세,2023년11월_여_99세,2023년11월_여_100세 이상
1288,경기도 (4100000000),13628135,"13,628,135","68,151","77,872","80,879","84,069","92,803","99,983","107,983",...,"9,387","6,864","5,901","4,581","3,531","2,492","1,536","1,103",683,"1,460"

In [36]:
area_mask = population_df.iloc[:, 0].map(lambda v: v[-6] != '0')
max_population = population_df.iloc[:, 1][area_mask].max() # 총인구수의 max 값
max_population_mask = population_df.iloc[:, 1] == max_population # max 값과 같은 행 filter
population_df[max_population_mask] # max 값과 같은 행만 뽑기 --> 결과는 경기도 인구 데이터 출력

,행정구역,2023년11월_계_총인구수,2023년11월_계_연령구간인구수,2023년11월_계_0세,2023년11월_계_1세,2023년11월_계_2세,2023년11월_계_3세,2023년11월_계_4세,2023년11월_계_5세,2023년11월_계_6세,...,2023년11월_여_91세,2023년11월_여_92세,2023년11월_여_93세,2023년11월_여_94세,2023년11월_여_95세,2023년11월_여_96세,2023년11월_여_97세,2023년11월_여_98세,2023년11월_여_99세,2023년11월_여_100세 이상
1446,경기도 부천시 신중동(4119074200),127887,"127,887",623,720,709,745,752,837,877,...,92,72,53,45,41,23,10,13,7,17

In [44]:
# 6번 문제
mask = population_df["행정구역"].str.contains("동삭동")
selected_region = population_df[mask]
selected_region.iloc[:, 3:104]
selected_region.iloc[:, 3:104].values # series.values or dataframe.values : 값만 ndarray로 반환
y = selected_region.iloc[:, 3:104].values[0]
y = list( map(lambda v: int( str(v).replace(',', '') ), y) )
y

[514,
 572,
 492,
 550,
 565,
 573,
 575,
 666,
 597,
 628,
 519,
 587,
 529,
 452,
 380,
 410,
 354,
 326,
 282,
 296,
 286,
 295,
 351,
 434,
 419,
 443,
 489,
 574,
 664,
 691,
 875,
 969,
 1090,
 933,
 938,
 949,
 931,
 932,
 970,
 924,
 1036,
 1041,
 1036,
 1017,
 844,
 717,
 684,
 620,
 636,
 660,
 630,
 621,
 626,
 585,
 574,
 519,
 440,
 364,
 416,
 370,
 360,
 337,
 351,
 355,
 290,
 249,
 210,
 203,
 213,
 122,
 125,
 148,
 89,
 88,
 89,
 80,
 92,
 54,
 51,
 56,
 47,
 65,
 38,
 33,
 43,
 25,
 32,
 21,
 15,
 16,
 16,
 10,
 8,
 7,
 5,
 3,
 2,
 1,
 1,
 1,
 0]