In [ ]:
# 1. population.csv 파일을 DataFrame으로 읽고 내용 확인
# 2. 현재 연구자 거주지 동의 인구 정보 조회 ( 행전체 )
# 3. 총인구수가 가장 많은 동 조회
# 4. 남성인구비가 가장 높은 동 조회
# 5. ...
# 6. 현재 연구자 거주지 동의 연령별 인구를 막대그래프로 표시

In [1]:
import pandas as pd

In [2]:
population_df = pd.read_csv("data-files/population.csv", encoding="utf-8")

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15584\1717257733.py:1: DtypeWarning: Columns (100,101,103,198,199,200,305,306,307,309) have mixed types. Specify dtype option on import or set low_memory=False.
  population_df = pd.read_csv("data-files/population.csv", encoding="utf-8")

In [3]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3880 entries, 0 to 3879
Columns: 310 entries, 행정구역 to 2023년11월_여_100세 이상
dtypes: int64(8), object(302)
memory usage: 9.2+ MB

In [4]:
population_df.head()

,행정구역,2023년11월_계_총인구수,2023년11월_계_연령구간인구수,2023년11월_계_0세,2023년11월_계_1세,2023년11월_계_2세,2023년11월_계_3세,2023년11월_계_4세,2023년11월_계_5세,2023년11월_계_6세,...,2023년11월_여_91세,2023년11월_여_92세,2023년11월_여_93세,2023년11월_여_94세,2023년11월_여_95세,2023년11월_여_96세,2023년11월_여_97세,2023년11월_여_98세,2023년11월_여_99세,2023년11월_여_100세 이상
0,서울특별시 (1100000000),"9,390,925","9,390,925","37,876","41,294","43,322","43,749","47,776","50,756","55,314",...,"6,471","4,710","4,076","3,284","2,484","1,815","1,094",724,539,"1,123"
1,서울특별시 종로구 (1111000000),"139,497","139,497",393,469,464,495,539,561,663,...,111,94,85,53,57,43,24,12,11,27
2,서울특별시 종로구 청운효자동(1111051500),"11,359","11,359",40,46,41,51,54,44,74,...,11,11,5,4,7,1,2,0,2,2
3,서울특별시 종로구 사직동(1111053000),"9,005","9,005",26,25,43,36,41,49,55,...,6,9,9,9,3,2,1,3,0,3
4,서울특별시 종로구 삼청동(1111054000),"2,242","2,242",6,5,8,6,3,12,13,...,4,1,4,0,1,0,0,0,0,1

In [5]:
population_df.columns

Index(['행정구역', '2023년11월_계_총인구수', '2023년11월_계_연령구간인구수', '2023년11월_계_0세',
       '2023년11월_계_1세', '2023년11월_계_2세', '2023년11월_계_3세', '2023년11월_계_4세',
       '2023년11월_계_5세', '2023년11월_계_6세',
       ...
       '2023년11월_여_91세', '2023년11월_여_92세', '2023년11월_여_93세', '2023년11월_여_94세',
       '2023년11월_여_95세', '2023년11월_여_96세', '2023년11월_여_97세', '2023년11월_여_98세',
       '2023년11월_여_99세', '2023년11월_여_100세 이상'],
      dtype='object', length=310)

In [10]:
# 1번 문제
# mask = population_df["행정구역"].str.contains("동삭동")
mask = population_df["행정구역"].map(lambda v: "동삭동" in v)
print( mask.sum() )
population_df[mask]

1

,행정구역,2023년11월_계_총인구수,2023년11월_계_연령구간인구수,2023년11월_계_0세,2023년11월_계_1세,2023년11월_계_2세,2023년11월_계_3세,2023년11월_계_4세,2023년11월_계_5세,2023년11월_계_6세,...,2023년11월_여_91세,2023년11월_여_92세,2023년11월_여_93세,2023년11월_여_94세,2023년11월_여_95세,2023년11월_여_96세,2023년11월_여_97세,2023년11월_여_98세,2023년11월_여_99세,2023년11월_여_100세 이상
1497,경기도 평택시 동삭동(4122065000),"41,411","41,411",514,572,492,550,565,573,575,...,9,7,4,4,2,2,1,1,1,0