In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
passengers_by_time = pd.read_excel("data-files/subway-stats.xls", "지하철 시간대별 이용현황")

In [4]:
passengers_by_time.head()

,사용월,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,...,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51,작업일시
0,NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,...,하차,승차,하차,승차,하차,승차,하차,승차,하차,NaN
1,2023-11,1호선,150.0,서울역,754,24,"8,803","9,140","13,291","57,495",...,"13,604","2,582","2,715",0,263,0,0,0,0,2023-12-03 09:30:45
2,2023-11,1호선,151.0,시청,85,1,"2,386","4,880","4,126","25,406",...,"4,157",392,989,5,24,0,1,0,0,2023-12-03 09:30:45
3,2023-11,1호선,152.0,종각,146,2,"3,933","5,534","4,289","28,364",...,"4,347","1,067",928,0,3,0,0,0,0,2023-12-03 09:30:45
4,2023-11,1호선,153.0,종로3가,158,5,"3,832","2,823","3,672","12,311",...,"4,714","1,293","1,967",1,49,0,0,0,0,2023-12-03 09:30:45

In [16]:
passengers_by_time2 = pd.read_excel("data-files/subway-stats.xls", "지하철 시간대별 이용현황")
print( passengers_by_time2.columns, len(passengers_by_time2.columns) )
# passengers_by_time2.columns = np.arange(1, 54) # 전체 컬럼명 변경
passengers_by_time2.rename(columns={'Unnamed: 5': '04_하차', 'Unnamed: 7': '05_하차'}, inplace=True) # 부분 컬럼명 변경
print( passengers_by_time2.columns, len(passengers_by_time2.columns) )

Index(['사용월', '호선명', '역ID', '지하철역', '04:00:00~04:59:59', 'Unnamed: 5',
       '05:00:00~05:59:59', 'Unnamed: 7', '06:00:00~06:59:59', 'Unnamed: 9',
       '07:00:00~07:59:59', 'Unnamed: 11', '08:00:00~08:59:59', 'Unnamed: 13',
       '09:00:00~09:59:59', 'Unnamed: 15', '10:00:00~10:59:59', 'Unnamed: 17',
       '11:00:00~11:59:59', 'Unnamed: 19', '12:00:00~12:59:59', 'Unnamed: 21',
       '13:00:00~13:59:59', 'Unnamed: 23', '14:00:00~14:59:59', 'Unnamed: 25',
       '15:00:00~15:59:59', 'Unnamed: 27', '16:00:00~16:59:59', 'Unnamed: 29',
       '17:00:00~17:59:59', 'Unnamed: 31', '18:00:00~18:59:59', 'Unnamed: 33',
       '19:00:00~19:59:59', 'Unnamed: 35', '20:00:00~20:59:59', 'Unnamed: 37',
       '21:00:00~21:59:59', 'Unnamed: 39', '22:00:00~22:59:59', 'Unnamed: 41',
       '23:00:00~23:59:59', 'Unnamed: 43', '00:00:00~00:59:59', 'Unnamed: 45',
       '01:00:00~01:59:59', 'Unnamed: 47', '02:00:00~02:59:59', 'Unnamed: 49',
       '03:00:00~03:59:59', 'Unnamed: 51', '작업일시'],
      dtype='object') 53
Index(['사용월', '호선명', '역ID', '지하철역', '04:00:00~04:59:59', '04_하차',
       '05:00:00~05:59:59', '05_하차', '06:00:00~06:59:59', 'Unnamed: 9',
       '07:00:00~07:59:59', 'Unnamed: 11', '08:00:00~08:59:59', 'Unnamed: 13',
       '09:00:00~09:59:59', 'Unnamed: 15', '10:00:00~10:59:59', 'Unnamed: 17',
       '11:00:00~11:59:59', 'Unnamed: 19', '12:00:00~12:59:59', 'Unnamed: 21',
       '13:00:00~13:59:59', 'Unnamed: 23', '14:00:00~14:59:59', 'Unnamed: 25',
       '15:00:00~15:59:59', 'Unnamed: 27', '16:00:00~16:59:59', 'Unnamed: 29',
       '17:00:00~17:59:59', 'Unnamed: 31', '18:00:00~18:59:59', 'Unnamed: 33',
       '19:00:00~19:59:59', 'Unnamed: 35', '20:00:00~20:59:59', 'Unnamed: 37',
       '21:00:00~21:59:59', 'Unnamed: 39', '22:00:00~22:59:59', 'Unnamed: 41',
       '23:00:00~23:59:59', 'Unnamed: 43', '00:00:00~00:59:59', 'Unnamed: 45',
       '01:00:00~01:59:59', 'Unnamed: 47', '02:00:00~02:59:59', 'Unnamed: 49',
       '03:00:00~03:59:59', 'Unnamed: 51', '작업일시'],
      dtype='object') 53

In [28]:
# print( passengers_by_time2.columns[4], passengers_by_time2.columns[5] )
# np.arange(4, 4 + 24).size
new_colunms = []
for t in np.arange(4, 4 + 24):
    t2 = t % 24
    new_colunms.append(f'{t2:02}_in')   # {t2:02} : t2를 두로 만들되 1자리가 없으면 0으로 채우기
    new_colunms.append(f'{t2:02}_out')
# print(new_colunms[:6])

rename_pattern = {}
for prev_c, new_c in zip(passengers_by_time2.columns[4:-1], new_colunms):
    rename_pattern.update({prev_c:new_c}) # 딕셔너리에 없으면 추가 있으면 변경
print(rename_pattern)

rename_pattern2 = \
    { prev_c:new_c for prev_c, new_c in zip(passengers_by_time2.columns[4:-1], 
                                            new_colunms) }
rename_pattern2

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a_squared = [ n**2 for n in a ]
a_squared

{'04:00:00~04:59:59': '04_in', '04_하차': '04_out', '05:00:00~05:59:59': '05_in', '05_하차': '05_out', '06:00:00~06:59:59': '06_in', 'Unnamed: 9': '06_out', '07:00:00~07:59:59': '07_in', 'Unnamed: 11': '07_out', '08:00:00~08:59:59': '08_in', 'Unnamed: 13': '08_out', '09:00:00~09:59:59': '09_in', 'Unnamed: 15': '09_out', '10:00:00~10:59:59': '10_in', 'Unnamed: 17': '10_out', '11:00:00~11:59:59': '11_in', 'Unnamed: 19': '11_out', '12:00:00~12:59:59': '12_in', 'Unnamed: 21': '12_out', '13:00:00~13:59:59': '13_in', 'Unnamed: 23': '13_out', '14:00:00~14:59:59': '14_in', 'Unnamed: 25': '14_out', '15:00:00~15:59:59': '15_in', 'Unnamed: 27': '15_out', '16:00:00~16:59:59': '16_in', 'Unnamed: 29': '16_out', '17:00:00~17:59:59': '17_in', 'Unnamed: 31': '17_out', '18:00:00~18:59:59': '18_in', 'Unnamed: 33': '18_out', '19:00:00~19:59:59': '19_in', 'Unnamed: 35': '19_out', '20:00:00~20:59:59': '20_in', 'Unnamed: 37': '20_out', '21:00:00~21:59:59': '21_in', 'Unnamed: 39': '21_out', '22:00:00~22:59:59': '22_in', 'Unnamed: 41': '22_out', '23:00:00~23:59:59': '23_in', 'Unnamed: 43': '23_out', '00:00:00~00:59:59': '00_in', 'Unnamed: 45': '00_out', '01:00:00~01:59:59': '01_in', 'Unnamed: 47': '01_out', '02:00:00~02:59:59': '02_in', 'Unnamed: 49': '02_out', '03:00:00~03:59:59': '03_in', 'Unnamed: 51': '03_out'}

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
passengers_by_time = pd.read_excel("data-files/subway-stats.xls", "지하철 시간대별 이용현황")

In [31]:
new_colunms = []
for t in np.arange(4, 4 + 24):
    t2 = t % 24
    new_colunms.append(f'{t2:02}_in')
    new_colunms.append(f'{t2:02}_out')

rename_pattern = \
    { prev_c:new_c for prev_c, new_c 
                   in zip(passengers_by_time.columns[4:-1], new_colunms) }

passengers_by_time.rename(columns=rename_pattern, inplace=True)

passengers_by_time.columns

Index(['사용월', '호선명', '역ID', '지하철역', '04_in', '04_out', '05_in', '05_out',
       '06_in', '06_out', '07_in', '07_out', '08_in', '08_out', '09_in',
       '09_out', '10_in', '10_out', '11_in', '11_out', '12_in', '12_out',
       '13_in', '13_out', '14_in', '14_out', '15_in', '15_out', '16_in',
       '16_out', '17_in', '17_out', '18_in', '18_out', '19_in', '19_out',
       '20_in', '20_out', '21_in', '21_out', '22_in', '22_out', '23_in',
       '23_out', '00_in', '00_out', '01_in', '01_out', '02_in', '02_out',
       '03_in', '03_out', '작업일시'],
      dtype='object')

In [ ]:
# 인원과 관련된 컬럼의 데이터를 수치형으로 변경
# 승차인원이 가장 많은 시간, 하차인원이 가장 많은 시간, 승하차인원이 가장 많은 시간 찾기
# 전체 승차인원이 가장 많은 역, 하차인원이 가장 많은 역, 승하차인원이 가장 많은 역
# 각 시간대별 승차인원이 가장 많은 역, 하차인원이 가장 많은 역, 승하차인원이 가장 많은 역 찾기
# 각 시간의 승하차 인원 선그래프로 표시

In [43]:
# 1행 제거 (불필요한 행)
passengers_by_time2 = passengers_by_time.iloc[1:, :]
passengers_by_time2 = passengers_by_time.drop(0, axis='index') # 행삭제

# 인원과 관련된 컬럼의 데이터를 수치형으로 변경 1
# for idx in np.arange(4, 4 + 24):
#     idx2 = idx % 24
#     # print(f"{idx2:02}")
#     for s in ["_in", "_out"]:
#         passengers_by_time2[f"{idx2:02}{s}"] = passengers_by_time2[f"{idx2:02}{s}"].map(lambda v: int(v.replace(",", "")))

# 인원과 관련된 컬럼의 데이터를 수치형으로 변경 2
for col in passengers_by_time2.columns[4:-1]:
    passengers_by_time2[col] = \
        passengers_by_time2[col].map(lambda v: int(v.replace(",", "")))
    
# 1행을 지웠기 때문에 인덱스 번호 재구성 (선택적)
passengers_by_time2.reset_index(drop=True, inplace=True)

In [47]:
# passengers_by_time2.info()
passengers_by_time2.head()

,사용월,호선명,역ID,지하철역,04_in,04_out,05_in,05_out,06_in,06_out,...,23_out,00_in,00_out,01_in,01_out,02_in,02_out,03_in,03_out,작업일시
1,2023-11,1호선,150.0,서울역,754,24,8803,9140,13291,57495,...,13604,2582,2715,0,263,0,0,0,0,2023-12-03 09:30:45
2,2023-11,1호선,151.0,시청,85,1,2386,4880,4126,25406,...,4157,392,989,5,24,0,1,0,0,2023-12-03 09:30:45
3,2023-11,1호선,152.0,종각,146,2,3933,5534,4289,28364,...,4347,1067,928,0,3,0,0,0,0,2023-12-03 09:30:45
4,2023-11,1호선,153.0,종로3가,158,5,3832,2823,3672,12311,...,4714,1293,1967,1,49,0,0,0,0,2023-12-03 09:30:45
5,2023-11,1호선,154.0,종로5가,38,0,2143,3994,3351,16789,...,3718,306,911,0,0,0,0,0,0,2023-12-03 09:30:45

In [39]:
passengers_by_time2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 1 to 617
Data columns (total 53 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용월     617 non-null    object
 1   호선명     617 non-null    object
 2   역ID     617 non-null    float64
 3   지하철역    617 non-null    object
 4   04_in   617 non-null    int64
 5   04_out  617 non-null    int64
 6   05_in   617 non-null    int64
 7   05_out  617 non-null    int64
 8   06_in   617 non-null    int64
 9   06_out  617 non-null    int64
 10  07_in   617 non-null    int64
 11  07_out  617 non-null    int64
 12  08_in   617 non-null    int64
 13  08_out  617 non-null    int64
 14  09_in   617 non-null    int64
 15  09_out  617 non-null    int64
 16  10_in   617 non-null    int64
 17  10_out  617 non-null    int64
 18  11_in   617 non-null    int64
 19  11_out  617 non-null    int64
 20  12_in   617 non-null    int64
 21  12_out  617 non-null    int64
 22  13_in   617 non-null    int64
 23  13_out  617 non-null    int64
 24  14_in   617 non-null    int64
 25  14_out  617 non-null    int64
 26  15_in   617 non-null    int64
 27  15_out  617 non-null    int64
 28  16_in   617 non-null    int64
 29  16_out  617 non-null    int64
 30  17_in   617 non-null    int64
 31  17_out  617 non-null    int64
 32  18_in   617 non-null    int64
 33  18_out  617 non-null    int64
 34  19_in   617 non-null    int64
 35  19_out  617 non-null    int64
 36  20_in   617 non-null    int64
 37  20_out  617 non-null    int64
 38  21_in   617 non-null    int64
 39  21_out  617 non-null    int64
 40  22_in   617 non-null    int64
 41  22_out  617 non-null    int64
 42  23_in   617 non-null    int64
 43  23_out  617 non-null    int64
 44  00_in   617 non-null    int64
 45  00_out  617 non-null    int64
 46  01_in   617 non-null    int64
 47  01_out  617 non-null    int64
 48  02_in   617 non-null    int64
 49  02_out  617 non-null    int64
 50  03_in   617 non-null    int64
 51  03_out  617 non-null    int64
 52  작업일시    617 non-null    object
dtypes: float64(1), int64(48), object(4)
memory usage: 255.6+ KB