In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
passengers_by_time = pd.read_excel("data-files/subway-stats.xls", "지하철 시간대별 이용현황")

In [4]:
passengers_by_time.head()

,사용월,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,...,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51,작업일시
0,NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,...,하차,승차,하차,승차,하차,승차,하차,승차,하차,NaN
1,2023-11,1호선,150.0,서울역,754,24,"8,803","9,140","13,291","57,495",...,"13,604","2,582","2,715",0,263,0,0,0,0,2023-12-03 09:30:45
2,2023-11,1호선,151.0,시청,85,1,"2,386","4,880","4,126","25,406",...,"4,157",392,989,5,24,0,1,0,0,2023-12-03 09:30:45
3,2023-11,1호선,152.0,종각,146,2,"3,933","5,534","4,289","28,364",...,"4,347","1,067",928,0,3,0,0,0,0,2023-12-03 09:30:45
4,2023-11,1호선,153.0,종로3가,158,5,"3,832","2,823","3,672","12,311",...,"4,714","1,293","1,967",1,49,0,0,0,0,2023-12-03 09:30:45

In [16]:
passengers_by_time2 = pd.read_excel("data-files/subway-stats.xls", "지하철 시간대별 이용현황")
print( passengers_by_time2.columns, len(passengers_by_time2.columns) )
# passengers_by_time2.columns = np.arange(1, 54) # 전체 컬럼명 변경
passengers_by_time2.rename(columns={'Unnamed: 5': '04_하차', 'Unnamed: 7': '05_하차'}, inplace=True) # 부분 컬럼명 변경
print( passengers_by_time2.columns, len(passengers_by_time2.columns) )

Index(['사용월', '호선명', '역ID', '지하철역', '04:00:00~04:59:59', 'Unnamed: 5',
       '05:00:00~05:59:59', 'Unnamed: 7', '06:00:00~06:59:59', 'Unnamed: 9',
       '07:00:00~07:59:59', 'Unnamed: 11', '08:00:00~08:59:59', 'Unnamed: 13',
       '09:00:00~09:59:59', 'Unnamed: 15', '10:00:00~10:59:59', 'Unnamed: 17',
       '11:00:00~11:59:59', 'Unnamed: 19', '12:00:00~12:59:59', 'Unnamed: 21',
       '13:00:00~13:59:59', 'Unnamed: 23', '14:00:00~14:59:59', 'Unnamed: 25',
       '15:00:00~15:59:59', 'Unnamed: 27', '16:00:00~16:59:59', 'Unnamed: 29',
       '17:00:00~17:59:59', 'Unnamed: 31', '18:00:00~18:59:59', 'Unnamed: 33',
       '19:00:00~19:59:59', 'Unnamed: 35', '20:00:00~20:59:59', 'Unnamed: 37',
       '21:00:00~21:59:59', 'Unnamed: 39', '22:00:00~22:59:59', 'Unnamed: 41',
       '23:00:00~23:59:59', 'Unnamed: 43', '00:00:00~00:59:59', 'Unnamed: 45',
       '01:00:00~01:59:59', 'Unnamed: 47', '02:00:00~02:59:59', 'Unnamed: 49',
       '03:00:00~03:59:59', 'Unnamed: 51', '작업일시'],
      dtype='object') 53
Index(['사용월', '호선명', '역ID', '지하철역', '04:00:00~04:59:59', '04_하차',
       '05:00:00~05:59:59', '05_하차', '06:00:00~06:59:59', 'Unnamed: 9',
       '07:00:00~07:59:59', 'Unnamed: 11', '08:00:00~08:59:59', 'Unnamed: 13',
       '09:00:00~09:59:59', 'Unnamed: 15', '10:00:00~10:59:59', 'Unnamed: 17',
       '11:00:00~11:59:59', 'Unnamed: 19', '12:00:00~12:59:59', 'Unnamed: 21',
       '13:00:00~13:59:59', 'Unnamed: 23', '14:00:00~14:59:59', 'Unnamed: 25',
       '15:00:00~15:59:59', 'Unnamed: 27', '16:00:00~16:59:59', 'Unnamed: 29',
       '17:00:00~17:59:59', 'Unnamed: 31', '18:00:00~18:59:59', 'Unnamed: 33',
       '19:00:00~19:59:59', 'Unnamed: 35', '20:00:00~20:59:59', 'Unnamed: 37',
       '21:00:00~21:59:59', 'Unnamed: 39', '22:00:00~22:59:59', 'Unnamed: 41',
       '23:00:00~23:59:59', 'Unnamed: 43', '00:00:00~00:59:59', 'Unnamed: 45',
       '01:00:00~01:59:59', 'Unnamed: 47', '02:00:00~02:59:59', 'Unnamed: 49',
       '03:00:00~03:59:59', 'Unnamed: 51', '작업일시'],
      dtype='object') 53

In [24]:
# print( passengers_by_time2.columns[4], passengers_by_time2.columns[5] )
# np.arange(4, 4 + 24).size
new_colunms = []
for t in np.arange(4, 4 + 24):
    t2 = t % 24
    new_colunms.append(f'{t2}_in')
    new_colunms.append(f'{t2}_out')
# print(new_colunms[:6])

for prev_c, new_c in zip(passengers_by_time2.columns[4:-1], new_colunms):
    print(prev_c, " - " ,new_c)

04:00:00~04:59:59  -  4_in
04_하차  -  4_out
05:00:00~05:59:59  -  5_in
05_하차  -  5_out
06:00:00~06:59:59  -  6_in
Unnamed: 9  -  6_out
07:00:00~07:59:59  -  7_in
Unnamed: 11  -  7_out
08:00:00~08:59:59  -  8_in
Unnamed: 13  -  8_out
09:00:00~09:59:59  -  9_in
Unnamed: 15  -  9_out
10:00:00~10:59:59  -  10_in
Unnamed: 17  -  10_out
11:00:00~11:59:59  -  11_in
Unnamed: 19  -  11_out
12:00:00~12:59:59  -  12_in
Unnamed: 21  -  12_out
13:00:00~13:59:59  -  13_in
Unnamed: 23  -  13_out
14:00:00~14:59:59  -  14_in
Unnamed: 25  -  14_out
15:00:00~15:59:59  -  15_in
Unnamed: 27  -  15_out
16:00:00~16:59:59  -  16_in
Unnamed: 29  -  16_out
17:00:00~17:59:59  -  17_in
Unnamed: 31  -  17_out
18:00:00~18:59:59  -  18_in
Unnamed: 33  -  18_out
19:00:00~19:59:59  -  19_in
Unnamed: 35  -  19_out
20:00:00~20:59:59  -  20_in
Unnamed: 37  -  20_out
21:00:00~21:59:59  -  21_in
Unnamed: 39  -  21_out
22:00:00~22:59:59  -  22_in
Unnamed: 41  -  22_out
23:00:00~23:59:59  -  23_in
Unnamed: 43  -  23_out
00:00:00~00:59:59  -  0_in
Unnamed: 45  -  0_out
01:00:00~01:59:59  -  1_in
Unnamed: 47  -  1_out
02:00:00~02:59:59  -  2_in
Unnamed: 49  -  2_out
03:00:00~03:59:59  -  3_in
Unnamed: 51  -  3_out