In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 인구 데이터 읽기
# 컬럼명 변경 : 기존컬럼 -> ["자치구", "세대수", "인구수", "한국인", "외국인", "세대당인구", "고령자"]
# 총합 행 지우기
# 고령자비율, 외국인비율 컬럼 추가

In [2]:
seoul_population = pd.read_csv("data-files/seoul-population.csv")

In [3]:
seoul_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   동별(2)     26 non-null     object
 1   세대 (세대)   26 non-null     int64
 2   계         26 non-null     int64
 3   한국인       26 non-null     int64
 4   등록외국인     26 non-null     int64
 5   세대당인구     26 non-null     float64
 6   65세이상고령자  26 non-null     int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.5+ KB

In [5]:
new_columns = ["자치구", "세대수", "인구수", "한국인", "외국인", "세대당인구", "고령자"]
rename_dict = { prev:new for prev, new in zip(seoul_population.columns, new_columns) }
rename_dict
seoul_population.rename(columns=rename_dict, inplace=True)
seoul_population.head()

   자치구      세대수      인구수      한국인     외국인  세대당인구      고령자
0   소계  4446296  9667669  9428372  239297   2.12  1667411
1  종로구    72524   152211   141379   10832   1.95    27958
2   중구    63139   130785   120437   10348   1.91    25055
3  용산구   109805   233284   218650   14634   1.99    39037
4  성동구   133305   288234   281000    7234   2.11    47720

In [6]:
seoul_population.drop(0, axis=0, inplace=True)
seoul_population.head()

   자치구     세대수     인구수     한국인    외국인  세대당인구    고령자
1  종로구   72524  152211  141379  10832   1.95  27958
2   중구   63139  130785  120437  10348   1.91  25055
3  용산구  109805  233284  218650  14634   1.99  39037
4  성동구  133305  288234  281000   7234   2.11  47720
5  광진구  169291  351252  337416  13836   1.99  54071

In [7]:
seoul_population["고령자비율"] = seoul_population["고령자"] / seoul_population["인구수"]
seoul_population["외국인비율"] = seoul_population["외국인"] / seoul_population["인구수"]
seoul_population.head()

   자치구     세대수     인구수     한국인    외국인  세대당인구    고령자     고령자비율     외국인비율
1  종로구   72524  152211  141379  10832   1.95  27958  0.183679  0.071164
2   중구   63139  130785  120437  10348   1.91  25055  0.191574  0.079122
3  용산구  109805  233284  218650  14634   1.99  39037  0.167337  0.062730
4  성동구  133305  288234  281000   7234   2.11  47720  0.165560  0.025098
5  광진구  169291  351252  337416  13836   1.99  54071  0.153938  0.039391

In [9]:
seoul_population.sort_values(by="고령자비율", ascending=False)
seoul_population.sort_values(by="외국인비율", ascending=False)

     자치구     세대수     인구수     한국인    외국인  세대당인구     고령자     고령자비율     외국인비율
2     중구   63139  130785  120437  10348   1.91   25055  0.191574  0.079122
1    종로구   72524  152211  141379  10832   1.95   27958  0.183679  0.071164
3    용산구  109805  233284  218650  14634   1.99   39037  0.167337  0.062730
19  영등포구  188832  398085  375675  22410   1.99   64810  0.162804  0.056295
17   구로구  183655  418418  395315  23103   2.15   75890  0.181374  0.055215
18   금천구  119583  242818  229642  13176   1.92   42928  0.176791  0.054263
6   동대문구  169873  353601  336644  16957   1.98   64468  0.182318  0.047955
13  서대문구  145797  319554  306337  13217   2.10   55996  0.175232  0.041361
5    광진구  169291  351252  337416  13836   1.99   54071  0.153938  0.039391
14   마포구  180084  375585  364638  10947   2.02   55914  0.148872  0.029147
21   관악구  283623  501226  486752  14474   1.72   82447  0.164491  0.028877
8    성북구  197082  441984  430397  11587   2.18   77475  0.175289  0.026216
20   동작구  185773  390432  380596   9836   2.05   68231  0.174758  0.025193
4    성동구  133305  288234  281000   7234   2.11   47720  0.165560  0.025098
9    강북구  144313  297702  293660   4042   2.03   66307  0.222729  0.013577
7    중랑구  187413  390140  385318   4822   2.06   74920  0.192034  0.012360
22   서초구  167749  408451  404325   4126   2.41   62347  0.152643  0.010102
16   강서구  273697  574638  569166   5472   2.08   97128  0.169025  0.009523
23   강남구  232777  534103  529102   5001   2.27   81715  0.152995  0.009363
24   송파구  284853  664514  658801   5713   2.31  103573  0.155863  0.008597
25   강동구  202169  464037  460067   3970   2.28   78340  0.168823  0.008555
11   노원구  217540  508014  503734   4280   2.32   92040  0.181176  0.008425
12   은평구  213876  470602  466746   3856   2.18   89650  0.190501  0.008194
10   도봉구  138356  313989  311694   2295   2.25   66998  0.213377  0.007309
15   양천구  181187  444010  440881   3129   2.43   72393  0.163044  0.007047