In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 범죄 데이터 읽기
# 컬럼명 변경 : 기존컬럼 -> ["자치구", "발생합계", "검거합계", "살인발생", "살인검거", 
#                           "강도발생", "강도검거", "강간발생", "강간검거", 
#                           "절도발생", "절도검거", "폭력발생", "폭력검거"]
# 자치구 컬럼을 index로 변경
# (살인, 강도, 강간, 절도, 폭력) 검거율 컬럼 만들기
# ~검거 컬럼 제거
# 소계 행 제거
# ~발생 -> ~ 으로 변경 (발생 단어 제거 : 살인발생 -> 살인)
# 각 범죄가 가장 많은 자치구 확인
# 검거율 높은 자치구 확인
# 각 컬럼의 값을 0 ~ 1 사이의 값으로 변경 ( scale 변경 )
# 파일 저장 : processed-seoul-crime.csv

# processed-seoul-crime과 processed-seoul-cctv를 읽어서 병합
# 상관관계 확인

In [3]:
seoul_crime = pd.read_csv("data-files/seoul-crime.csv")
seoul_crime.head()

,자치구별(2),발생,검거,발생.1,검거.1,발생.2,검거.2,발생.3,검거.3,발생.4,검거.4,발생.5,검거.5
0,소계,80445,58012,124,112,122,116,4911,4446,33531,17950,41757,35388
1,종로구,2712,2755,6,3,4,4,156,757,1079,743,1467,1248
2,중구,2861,2072,6,6,6,6,161,97,1279,739,1409,1224
3,용산구,2381,1659,3,2,1,1,141,103,945,484,1291,1069
4,성동구,2112,1510,3,4,4,1,110,82,905,497,1090,926

In [4]:
column_names = ["자치구", "발생합계", "검거합계", "살인발생", "살인검거", 
                "강도발생", "강도검거", "강간발생", "강간검거", 
                "절도발생", "절도검거", "폭력발생", "폭력검거"]

# 컬럼 이름 변경 1 (전체 변경)
# renamed_seoul_crime = seoul_crim.copy()
# renamed_seoul_crime.columns = column_names


# 컬럼 이름 변경 2 (전체 또는 부분 변경)
rename_map = { p:n for p, n in zip(seoul_crime.columns, column_names) }
renamed_seoul_crime = seoul_crime.rename(columns=rename_map)

In [5]:
renamed_seoul_crime.head()

,자치구,발생합계,검거합계,살인발생,살인검거,강도발생,강도검거,강간발생,강간검거,절도발생,절도검거,폭력발생,폭력검거
0,소계,80445,58012,124,112,122,116,4911,4446,33531,17950,41757,35388
1,종로구,2712,2755,6,3,4,4,156,757,1079,743,1467,1248
2,중구,2861,2072,6,6,6,6,161,97,1279,739,1409,1224
3,용산구,2381,1659,3,2,1,1,141,103,945,484,1291,1069
4,성동구,2112,1510,3,4,4,1,110,82,905,497,1090,926

In [6]:
# 자치구를 인덱스로 전환
renamed_seoul_crime.set_index(["자치구"], inplace=True)
renamed_seoul_crime.head()

,발생합계,검거합계,살인발생,살인검거,강도발생,강도검거,강간발생,강간검거,절도발생,절도검거,폭력발생,폭력검거
자치구,,,,,,,,,,,,
소계,80445,58012,124,112,122,116,4911,4446,33531,17950,41757,35388
종로구,2712,2755,6,3,4,4,156,757,1079,743,1467,1248
중구,2861,2072,6,6,6,6,161,97,1279,739,1409,1224
용산구,2381,1659,3,2,1,1,141,103,945,484,1291,1069
성동구,2112,1510,3,4,4,1,110,82,905,497,1090,926

In [10]:
# 검거율 컬럼 만들기 1
renamed_seoul_crime.columns

for idx in np.arange(2, 12, 2):
    # print(renamed_seoul_crime.columns[idx], renamed_seoul_crime.columns[idx+1])
    cols = renamed_seoul_crime.columns
    col = f"{cols[idx][:2]}검거율" # "살인검거율", "강도검거율", ...
    renamed_seoul_crime[col] = \
        renamed_seoul_crime[cols[idx+1]] / renamed_seoul_crime[cols[idx]]

In [11]:
renamed_seoul_crime.head()

,발생합계,검거합계,살인발생,살인검거,강도발생,강도검거,강간발생,강간검거,절도발생,절도검거,폭력발생,폭력검거,살인검거율,강도검거율,강간검거율,절도검거율,폭력검거율
자치구,,,,,,,,,,,,,,,,,
소계,80445,58012,124,112,122,116,4911,4446,33531,17950,41757,35388,0.903226,0.95082,0.905315,0.535326,0.847475
종로구,2712,2755,6,3,4,4,156,757,1079,743,1467,1248,0.500000,1.00000,4.852564,0.688601,0.850716
중구,2861,2072,6,6,6,6,161,97,1279,739,1409,1224,1.000000,1.00000,0.602484,0.577795,0.868701
용산구,2381,1659,3,2,1,1,141,103,945,484,1291,1069,0.666667,1.00000,0.730496,0.512169,0.828040
성동구,2112,1510,3,4,4,1,110,82,905,497,1090,926,1.333333,0.25000,0.745455,0.549171,0.849541