In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
import tensorflow.keras as tf_keras

from sklearn.model_selection import train_test_split

In [4]:
spam_df = pd.read_csv('data-files/SMSSpamCollection', sep="\t", header=None, names=['label', 'msg'])
spam_df.info()
spam_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5572 non-null   object
 1   msg     5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

  label                                                msg
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
spam_df['label'].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

In [7]:
X, y = spam_df['msg'], spam_df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
X_train[:3]

4281    WINNER!! As a valued network customer you have...
585     So how's scotland. Hope you are not over showi...
4545                  when you and derek done with class?
Name: msg, dtype: object

In [11]:
tokenizer = tf_keras.preprocessing.text.Tokenizer()
tokenizer.fit_on_texts(X_train)

In [12]:
X_train_encoded = tokenizer.texts_to_sequences(X_train)

In [16]:
len(X_train_encoded), len(X_train_encoded[0]), len(X_train_encoded[1])

(4179, 26, 17)