In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [6]:
# 데이터 준비
messages_df = pd.read_csv("data-files/SMSSpamCollection", sep="\t", header=None, names=["target", "message"])
messages_df

     target                                            message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [11]:
# target 문자열 수치형으로 변환

messages_df['label'] = messages_df['target'].map(lambda v: 0 if v == 'ham' else 1)
messages_df

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
messages_df['label2'] = le.fit_transform(messages_df['target'])
messages_df

     target                                            message  label  label2
0       ham  Go until jurong point, crazy.. Available only ...      0       0
1       ham                      Ok lar... Joking wif u oni...      0       0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...      1       1
3       ham  U dun say so early hor... U c already then say...      0       0
4       ham  Nah I don't think he goes to usf, he lives aro...      0       0
...     ...                                                ...    ...     ...
5567   spam  This is the 2nd time we have tried 2 contact u...      1       1
5568    ham               Will ü b going to esplanade fr home?      0       0
5569    ham  Pity, * was in mood for that. So...any other s...      0       0
5570    ham  The guy did some bitching but I acted like i'd...      0       0
5571    ham                         Rofl. Its true to its name      0       0

[5572 rows x 4 columns]