In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# ratings_train = pd.read_csv('data-files/ratings_train.txt', encoding="utf-8", sep="\t", index_col="id")
ratings_train = pd.read_csv('data-files/ratings_train.txt', encoding="utf-8", sep="\t")
ratings_test = pd.read_csv('data-files/ratings_test.txt', encoding="utf-8", sep="\t")

In [8]:
ratings_train.head()
# ratings_train.set_index("id").head()
ratings_test.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [9]:
ratings_train.info()
ratings_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [12]:
na_mask = ratings_train["document"].isna()
ratings_train[na_mask]

             id document  label
25857   2172111      NaN      1
55737   6369843      NaN      1
110014  1034280      NaN      0
126782  5942978      NaN      0
140721  1034283      NaN      0

In [27]:
# 참고 --> not : ~, and : &, or : |

ratings_na_removed_train = ratings_train[~ratings_train['document'].isna()].copy()
ratings_na_removed_test = ratings_test[~ratings_test['document'].isna()].copy()

In [28]:
ratings_na_removed_train.isna().sum()
ratings_na_removed_test.isna().sum()

id          0
document    0
label       0
dtype: int64

In [29]:
ratings_na_removed_train['label'].value_counts(), ratings_na_removed_test['label'].value_counts()

(label
 0    75170
 1    74825
 Name: count, dtype: int64,
 label
 1    25171
 0    24826
 Name: count, dtype: int64)

In [32]:
# 한글 문자만 포함하도록 전처리

import re

print( ratings_na_removed_train['document'][3] )

ratings_na_removed_train['document'] = \
    ratings_na_removed_train['document'].map(lambda d: re.sub("[^ㄱ-힣 ] ", '', d))
ratings_na_removed_test['document'] = \
    ratings_na_removed_test['document'].map(lambda d: re.sub("[^ㄱ-힣 ] ", '', d))

교도소 이야기구먼 솔직히 재미는 없다평점 조정

In [ ]:
# 문장 --> 단어 리스트 : 형태소 분해

# "영희가" -> 영희 가
# "철수가"  -> 철수 가
# "영희 집" -> 영희 집
# "철수 집" -> 철수 집

In [ ]:
# 패키지 설치
# !pip install JPype1
# !pip install konlpy

In [34]:
# 문장 --> 단어 리스트 : 형태소 분해

from konlpy.tag import Okt

okt = Okt()
print( okt.morphs(ratings_na_removed_train['document'][0]) )

ratings_na_removed_train['document'] = ratings_na_removed_train['document'].map(okt.morphs)
ratings_na_removed_test['document'] = ratings_na_removed_test['document'].map(okt.morphs)

['아', '더빙', '진짜', '짜증나네요', '목소리']

In [41]:
import pickle
with open('data-files/ratings_na_removed_train.pkl', 'rb') as f:
    ratings_na_removed_train = pickle.load(f)

In [42]:
ratings_na_removed_train2 = pd.read_pickle("data-files/ratings_na_removed_train.pkl")

In [44]:
ratings_na_removed_train.info()
ratings_na_removed_train2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [35]:
ratings_na_removed_train.head()

         id                                           document  label
0   9976970                            [아, 더빙, 진짜, 짜증나네요, 목소리]      0
1   3819312      [흠, 포스터, 보고, 초딩, 영화, 줄, 오버, 연기, 조차, 가볍지, 않구나]      1
2  10265843                [너, 무재, 밓었, 다그, 래서, 보는것을, 추천, 한, 다]      0
3   9045019             [교도소, 이야기, 구먼, 솔직히, 재미, 는, 없다, 평점, 조정]      0
4   6483659  [사이, 몬페, 그, 의, 익살스런, 연기, 가, 돋보였던, 영화, 스파이더맨, 에...      1

In [ ]:
# 필요하다면 stopwords 처리

In [45]:
ratings_na_removed_train['document'] = ratings_na_removed_train['document'].map(lambda d: ' '.join(d))
ratings_na_removed_test['document'] = ratings_na_removed_test['document'].map(lambda d: ' '.join(d))

In [46]:
ratings_na_removed_train.head()

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                  흠 포스터 보고 초딩 영화 줄 오버 연기 조차 가볍지 않구나      1
2  10265843                          너 무재 밓었 다그 래서 보는것을 추천 한 다      0
3   9045019                       교도소 이야기 구먼 솔직히 재미 는 없다 평점 조정      0
4   6483659  사이 몬페 그 의 익살스런 연기 가 돋보였던 영화 스파이더맨 에서 늙어 보이기만 했...      1

In [47]:
ratings_na_removed_train.to_csv('data-files/ratings_na_removed_train.csv', encoding="utf-8", index=False)
ratings_na_removed_test.to_csv('data-files/ratings_na_removed_test.csv', encoding="utf-8", index=False)