In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
ratings_train = pd.read_csv('data-files/ratings_na_removed_train.csv', encoding="utf-8")
ratings_test = pd.read_csv('data-files/ratings_na_removed_test.csv', encoding="utf-8")

In [8]:
ratings_train.head()
# ratings_train.set_index("id").head()
ratings_test.head()

        id                                    document  label
0  6270596                                         굳 ㅋ      1
1  9274899                                         NaN      0
2  8544678      뭐 야 이 평점 들 은 나쁘진 않지만 점 짜 리 는 더 더욱 아니잖아      0
3  6825595                지루하지는 않은데 완전 막장 임 돈 주고 보기 에는      0
4  6723715  만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기 를 불편하게 하죠      0

In [9]:
ratings_train.info()
ratings_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149995 entries, 0 to 149994
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  148758 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49997 entries, 0 to 49996
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49997 non-null  int64
 1   document  49580 non-null  object
 2   label     49997 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [10]:
na_mask = ratings_train["document"].isna()
ratings_train[na_mask]

              id document  label
404      4221289      NaN      0
412      9509970      NaN      1
470     10147571      NaN      1
584      7117896      NaN      0
593      6478189      NaN      0
...          ...      ...    ...
149625   3508604      NaN      0
149713   7690797      NaN      1
149768   9233162      NaN      0
149857   7175749      NaN      0
149961   6735753      NaN      0

[1237 rows x 3 columns]

In [11]:
# 참고 --> not : ~, and : &, or : |

ratings_na_removed_train = ratings_train[~ratings_train['document'].isna()].copy()
ratings_na_removed_test = ratings_test[~ratings_test['document'].isna()].copy()

In [12]:
ratings_na_removed_train.isna().sum()
ratings_na_removed_test.isna().sum()

id          0
document    0
label       0
dtype: int64

In [20]:
import json
with open('data-files/SentiWord_info.json', encoding="utf-8") as f:
    senti_dict = json.load(f)

senti_dict[0]

{'word': '(-;', 'word_root': '(', 'polarity': '1'}

In [19]:
'abc' in 'abcd'

True

In [24]:
def calc_senti_score(word_list):
    import json
    with open('data-files/SentiWord_info.json', encoding="utf-8") as f:
        senti_dict = json.load(f)

    senti_score = 0
    cnt = 0
    for word in word_list:
        for e in senti_dict:
            if word in e['word'] or e['word_root'] in word:
                senti_score += int(e['polarity'])
                cnt += 1
                break

    # return senti_score, senti_score / (cnt + 0.0001)
    return senti_score, senti_score/cnt if cnt > 0 else 0

In [26]:
scores = ratings_na_removed_train['document'][:100].map(lambda v: calc_senti_score(v.split(' ')))

In [29]:
true_count = 0
labels = ratings_na_removed_train['label'][:100]
for (score, mscore), label in zip(scores, labels):
    true_count += int( int(mscore > 0) == label )

In [30]:
true_count

61