In [5]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [6]:
sea_level = pd.read_csv('data/Global_sea_level_rise.csv', encoding='utf-8')

In [7]:
sea_level.rename(columns={"mmfrom1993-2008average":"Sea level"}, inplace=True)

In [19]:
sea_level2 = pd.DataFrame(sea_level)

In [20]:
sea_level2.columns

Index(['year', 'date', 'Sea level'], dtype='object')

In [21]:
del sea_level2['date']

In [25]:
sea_level3 = sea_level2[sea_level2['year'].between(1960, 2020)]

In [27]:
sea_level4 = sea_level3.reset_index(drop=True)

In [29]:
sea_level4.to_csv('data/Sea_Level.csv', encoding='utf-8', index=True)

In [30]:
sea_level4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       61 non-null     int64
 1   Sea level  61 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [31]:
sea_level4["Sea level"].max(), sea_level4["Sea level"].min()

(66.70432506, -72.8140625)