In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import requests
import json
import time

In [69]:
url = "http://apis.data.go.kr/B552584/MsrstnInfoInqireSvc/getMsrstnList"

pageNo = 1
numOfRows = 100
stations = []
while True:
    params ={
        'serviceKey' : 'R+BEwJ49XVmTutdoCAdNq4m7wjOsdFNhVtlzkxWVeZJPhwQqWbGcD7CNeQPipFzIWAanQVw/rPLsGkfcYvD4AQ==', 
        'returnType' : 'json', 
        'pageNo' : str(pageNo), 
        'numOfRows' : str(numOfRows),
    }

    response = requests.get(url, params=params)
    try:
        station_info = json.loads(response.text)
    except Exception as e:
        print(e)
        break
    totalCount = int(station_info["response"]["body"]["totalCount"])
    stations += station_info["response"]["body"]["items"]

    if pageNo * numOfRows < totalCount:
        pageNo += 1
    else:
        break
    time.sleep(5)

Expecting value: line 1 column 1 (char 0)

In [71]:
print( len(stations), totalCount )
stations_df = pd.DataFrame(stations)

600 651

In [72]:
stations_df

,dmX,item,mangName,year,addr,stationName,dmY
0,35.182831,"SO2, CO, O3, NO2, PM10, PM2.5",도로변대기,2021,부산광역시 사상구 모덕로 2 사상가압장 앞 (삼락동),삼락동,128.976359
1,35.157731,"SO2, CO, O3, NO2, PM10, PM2.5",도로변대기,2023,부산광역시 해운대구 해운대해변로 84 (우동) 수영요트경기장옆 도로변,우동,129.143794
2,35.274045,"O3, NO2, PM10, PM2.5",도시대기,1997,부산 금정구 청룡로 25 청룡노포동주민센터 옥상,청룡동,129.090793
3,35.1708927,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,2005,부산 해운대구 양운로 91 좌1동주민센터 옥상,좌동,129.1741659
4,35.182668,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,2019,부산광역시 해운대구 센텀동로 191 동부하수처리장 (재송동),재송동,129.118136
...,...,...,...,...,...,...,...
595,35.1743,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,None,광주 북구 군왕로 141번길 6 (두암보건지소) 두암보건지소 3층 옥상,두암동,126.9325
596,35.176106,"SO2, CO, O3, NO2, PM10, PM2.5",도로변대기,None,광주 북구 북문대로 79 (벽산블루밍아파트 앞 인도),운암동,126.856931
597,35.22933,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,None,광주 북구 첨단과기로 333 (광주테크노파크 벤처지원센터 옥상) 광주테크노파크 벤처...,건국동,126.86186
598,35.218056,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,2020,광주광역시 북구 모룡대길 68 교통문화연수원 옥상 (일곡동),일곡동,126.8925
599,35.20413,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,None,광주 광산구 하남산단 6번로 107 삼성전자 환경안전센터,오선동,126.8072

In [75]:
stations_df[stations_df['addr'].str.contains('구로')]

,dmX,item,mangName,year,addr,stationName,dmY
37,37.498498,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,1980,서울 구로구 가마산로 27길 45 구로고등학교,구로구,126.889692
319,37.8936111111,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,2021,강원특별자치도 강릉시 주문진읍 항구로 19 주문진보건출장소,주문진읍,128.8227777778
467,35.859,"SO2, CO, O3, NO2, PM10, PM2.5",도시대기,2020,대구광역시 서구 서대구로3길 46 내당4동 행정복지센터 3층 옥상 (내당동),내당동,128.55183

In [ ]:
# 미세먼지 데이터 조회

In [59]:
url = 'http://apis.data.go.kr/B552584/ArpltnStatsSvc/getMsrstnAcctoRDyrg'
page_no = 1
num_of_rows = 100
rows = []
while True:
    params ={
        'serviceKey' : 'R+BEwJ49XVmTutdoCAdNq4m7wjOsdFNhVtlzkxWVeZJPhwQqWbGcD7CNeQPipFzIWAanQVw/rPLsGkfcYvD4AQ==', 
        'returnType' : 'json', 
        'pageNo' : page_no, 
        'numOfRows' : num_of_rows,
        'inqBginDt' : '20230101', 
        'inqEndDt' : '20231231', 
        'msrstnName' : '비전동' 
    }
    response = requests.get(url, params=params)
    try:
        data = json.loads(response.text)
    except Exception as e:
        print(e)
        break

    total_count = int(data["response"]["body"]["totalCount"])
    rows += data["response"]["body"]["items"]

    if page_no * num_of_rows < total_count:
        page_no += 1
    else:
        break
    
    time.sleep(1)

In [61]:
len(rows), total_count

(348, 348)

In [62]:
pollution_df = pd.DataFrame(rows)

In [63]:
pollution_df

,msurDt,so2Value,coValue,msrstnName,pm10Value,no2Value,o3Value,pm25Value
0,2023-01-01,.006,.5,비전동,55,.021,.02,42
1,2023-01-02,.003,.3,비전동,29,.022,.016,12
2,2023-01-03,.002,.4,비전동,39,.029,.009,16
3,2023-01-04,.003,.5,비전동,46,.031,.011,28
4,2023-01-05,.003,.7,비전동,71,.038,.005,51
...,...,...,...,...,...,...,...,...
343,2023-12-27,.004,.8,비전동,71,.035,.01,52
344,2023-12-28,.004,.8,비전동,84,.035,.006,72
345,2023-12-29,.004,.6,비전동,68,.032,.01,53
346,2023-12-30,.004,.5,비전동,73,.025,.009,59
347,2023-12-31,.004,.4,비전동,29,.016,.024,21